
.header {
    margin-bottom: 70px;
}

.header_wrapper__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header_contact {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 40px;
}

.header_phone {
    color: #666;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.header_phone:focus {
    color: var(--yellow); 
    outline: 1px solid var(--yellow);
    outline-offset: 5px;
    transition: all 0.3s ease;
 }

.header_phone:hover {
   color: var(--yellow); 
   transition: color 0.3s ease;
}

.header_phone:active {
    color: var(--dark-yellow);
    transition: color 0.3s ease; 
}

.login_link__svg {
    margin-right: 7px;
}

.login_link__svg path{
    fill: var(--yellow);
}

.login_link:hover {
    color: var(--hover-yellow);
}

.login_link:hover path{
    fill: var(--hover-yellow);
}

.login_link:focus {
    outline: 1px solid var(--yellow);
    outline-offset: 5px;
    transition: all 0.3s ease;
}

.login_link:active {
    color: var(--dark-yellow);
    transition: color 0.3s ease;
}

.login_link:active path{
    fill: var(--dark-yellow);
    transition: fill 0.3s ease;
}

.header_wrapper__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
}

.header_nav {
    padding: 10px;
    max-width: 65%;
}

.nav_list {
    display: flex;
    flex-wrap: wrap;
    padding: 17px 35px;
    border-right: 1px solid #E1E1E1;
}

.nav_item {
    line-height: 16px;
    margin-right: 45px;
}

.nav_item:nth-last-child(1) {
    line-height: 16px;
    margin-right: 21px;
}

.nav_link {
    color: #666;
}

.nav_link:focus {
    color: var(--yellow);
    outline: 1px solid var(--yellow);
    outline-offset: 5px;
    transition: all 0.3s ease;
}

.nav_link:hover {
    color: var(--yellow);
    transition: color 0.3s ease;
}

.nav_link:active {
    color: var(--dark-yellow);
    transition: color 0.3s ease;
}

.header_callback {
    padding-right: 45px;
    max-width: 35%;
}

.get-tour {
    margin-right: 40px;
}


